body {
  background-color: #002a52;
  padding: 0px;
}

div {
  padding: 10px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.description {
  font-family:    Arial, Helvetica, sans-serif;
  background-color: #FFCB0B;
  padding: 10px;
}

.list {
  background-color: #e8f4f8;
  display: none;
}

.major {
  background-color: #d70028;
  border-color: #295d8f;
  border-style: solid;
  border-width: thick;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      18px;
  font-weight:    bold;
}
